html {
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}

body {
  background-color: $lightGrayishBlue;
}

.container {
  width: 100%;
  height: 84vh;
  @include media(tablet) {
    height: 60vh;
  }
}
